@import url("https://fontlibrary.org/face/metropolis")
$z_red = #E23744
$sushi_indigo_500 = #1F2856

$font_regular = MetropolisRegular, -apple-system, sans-serif
$font_semibold = MetropolisSemibold, -apple-system, sans-serif

h1, h2, h3
  color: $z_red
  font-family $font_semibold


body 
  font-family $font_regular

.home .hero .description 
  color  $sushi_indigo_500